.foto {
	text-align: center;
	wight: 100px;
	height: 100px;
	padding: 10px;
}

.foto:hover {
	margin: -10px;
}

#ip {
	border-radius: 5px;
}

.iconip {
	z-index: 0;
	position: absolute;
}