.foto {
	text-align: center;
	wight: 100px;
	height: 100px;
	padding: 10px;
}

.foto:hover {
	margin: -10px;
}

.biru {
	background-color: #0099ff;
}

#ip {
	border-style: solid;
	border-radius: 5px;
	margin: 12px;
}